@import '../../../styles.scss';

.adoptKitten {
  width: 23vw;

  .card {
    margin-bottom: 10vh;

    img {
      height: 18rem;
    }
  }
}

h1 {
  font-family: $police;
  font-size: 2rem;
  margin-bottom: 5vh;
  box-shadow: 1px 1px 4px black;
}
