@import '../styles.scss';

h1 {
  font-family: $police;
  font-size: 2rem;
}

#title {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: center;
  background: #FFFFFF !important;
  margin: auto;
  box-shadow: 0px 10px 25px;

  a {
    font-family: $police;
    font-size: 0.8rem;
    border-bottom: 1px solid transparent;
    transition: all .5s ease-in;
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid black;
    }
  }
}

/* FOOTER */

.footer {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(43, 40, 40);
  color: whitesmoke;
  font-family: $police;

  ul {
    list-style: none;
    margin: auto 0;
    padding: 1vh;
  }

  img {
    background: whitesmoke;
    width: 3vw;
    border-radius: 10px;
  }

  .linkedin {
    text-decoration: none;
  }

  .navbar-brand, .flaticon {
    color: whitesmoke;
    font-family: $police;
    font-weight: normal;
    font-size: 1rem;
    border-bottom: 1px solid transparent;
    transition: all .5s ease-in;
    &:hover {
      border-bottom: 1px solid whitesmoke;
      text-decoration: inherit;
    }
  }

  .socialNetwork {
    display: flex;
    width: 10vw;
    justify-content: space-around;
  }
}

/* MEDIA QUERIES */

/* tablet */

@media screen and (min-width:820) and (max-width:1100px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-content: space-around;

    .socialNetwork {
      display: flex;
      flex-direction: column;
      height: 7vh;
      justify-content: space-around;
    }
  }
}

/* footer mobile portrait */

@media screen and (max-width:414px) {
  .footer {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;

    .icon {
      text-align: center;
    }

    .socialNetwork {
      height: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    img{
      width: 6vw;
    }
  }

  h1 {
    font-size: 1.5rem;
  }
}

/* footer mobile landscape */

@media screen and (min-width:568px) and (max-width:810px) {
  .footer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;

    .icon {
      text-align: center;

      img {
        width: 6vw;
      }
    }

    .socialNetwork {
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  h1 {
    font-size: 1.5rem;
  }
}
