<div class="listKitten">
  <h1>Kitten's created list</h1>

  <div class="card" *ngIf="!createdKitten">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6z4FhfmM1YEaSg32K9H4xqTcT-hGeZiHkTBIDgnKqZ8TjW3ne"
        class="card-img-top"
        alt="example">

      <div class="card-img-overlay">
        <h5 class="card-title">Kitten's name</h5>

        <p class="card-text">Kitten's race</p>

        <p class="card-text">Kitten's age</p>
      </div>
  </div>

  <div class="card" style="width: 18rem;" *ngFor="let cat of kitten; let i = index">
    <img [src]="cat.picture" class="card-img-top" alt="kitten">

    <div class="card-img-overlay">
      <h5 class="card-title">Name : {{ cat.name }}</h5>

      <p class="card-text">Race : {{ cat.race }}</p>

      <p class="card-text">Age : {{ cat.birthday }}</p>

      <a href class="btn btn-success" (click)="adoptKitten($event, i)">Adopt me</a>
    </div>
  </div>
</div>
